.navbar {
    background-image: linear-gradient(to right bottom, #ffb2ff, #e892f1, #d073e4, #b653d8, #9932cc);
    width: 100%;
    z-index: 10;
    box-shadow: 0px 2px 5px rgba(#9932cc,0.7);


    &-inner {
        min-height: 50px;
        @include maxWidth;
        display: flex;
        padding: 0.5rem 1rem;
        justify-content: space-between;
        align-items: center;
        a{
            @include link;
            font-size: 1.5rem;
            font-style: italic;
            background-image: linear-gradient(to right top, #000000, #270e18, #450f2e, #640c49, #80086a, #80086a, #80086a, #80086a, #640c49, #450f2e, #270e18, #000000);
            background-clip: text;
            -webkit-background-clip: text;
            color:transparent;
            @include mediumMq{
            font-size: 2rem;
            }
            
            &:hover{
                background-image: linear-gradient(to right top, #a10f9f, #890876, #6d0b53, #500f36, #310f1f, #310f1f, #310f1f, #310f1f, #500f36, #6d0b53, #890876, #a10f9f);
            }
        }
    }
}